/*bilderna*/
.cards img{
    width:80px;
    height:80px;
    margin:auto;
    float:right;
}
table, th, td{
    border: 2px solid white;
    background-color:#d1cbab;
}
td{
    padding:0;
}
table{
    margin:auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

}
/*Poäng och klar*/
.wrap{
    margin:auto;
    width:350px;
    height:120px;
    font-size:1em;
    text-align:center;
}
.points{
    float:left;
    margin:2px;
    width: 170px;
    background-color:#E8E4CF;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    text-align: center;
    
    
}
.wrap p{
    float:left;
    position:relative;
    bottom:10px;
    font-family: 'Roboto', sans-serif;
}
.done{
    float:left;
    margin:auto;
    width: 100%;
    text-align: center;
}
.done h2{
    font-size:3em;
    color:blue;
}