.window{
    font-family: 'Lusitana', serif;
    position:absolute;
    max-height:410px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);*/
}
.topbar{
    font-size:20px;
    padding: 2px 0 2px 0;
    padding-left:4px;
    color: black;
    height:25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color:white;
}
.statusX{
    position:relative;
    width:100%;
    min-height:20px;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.5);
    text-align:left;
    color:white;
}
.close{
    position:relative;
    bottom:10px;
    right:10px;
    font-size:30px;
    height:20px;
    float:right;
}
.close:hover{
    color:#858585;
}

.content{
    margin:auto;
    width:100%;
    height:345px;
    background-color:rgba(255, 255, 255,0.9);
    overflow:auto;
}
.picBox{
    margin-left:20px;
    margin-top:10px;
    float: left;
}
.picBox img{
    display:block;
    margin:auto;
    border-radius: 7px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}
.picBox img:hover{
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}
.resize{
    background-color:rgba(255, 255, 255, 0.5);
    width:100%;
    font-size:15px;
    height:15px;
    float:right;
}
/*  TOOLTIP  */
a.tooltip {
    outline:none; 
}
a.tooltip:hover {
    display:inline;
    text-decoration:none;
} 
a.tooltip span {/*rutan*/
    z-index:10;
    display:none; 
    padding:4px 6px;
}
a.tooltip:hover span{/*texten*/
    display:inline; 
    position:absolute; 
    color:rgba(168, 141, 99, 8);
    border:1px solid #DCA; 
    background:white;
}
    