#content{
    width: 340px;
    height: 285px;
    margin:auto;
    border: 3px solid pink;
}
header{
    font-style:oblique;
    margin: 20px;
    font-size:2em;
    color:pink;
}
#cards img{
    width:30px;
    height: 30px;
}
table, th, td{
    border: 2px solid pink;
}
table{
    margin:20px;
}
#points{
    position:relative;
    bottom:100px;
    left:200px;
    width: 75px;
    height: 75px;
    background-color:pink;
    -moz-border-radius: 35px;
    border-radius: 35px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
    font-size:1.2em;
    text-align: center;
    color:white;
    
    
}
#points p{
    padding-top:10px;
}
#done{
    width: 320px;
    position:relative;
    bottom:100px;
    right:20px;
    background-color: pink;
    font-style:oblique;
    margin: 20px;
    font-size:2em;
    color:white;
    padding:10px;
}