
#content{
    width: 27%;
    height: 550px;
    margin:auto;
    border: 2px solid #90d8aa;
    background-color:#90d8aa;
}
h1{
    font-family: 'Economica', sans-serif;
    margin-top: 20px;
    margin-left: 100px;
    font-size:4em;
    color:white;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

#cards img{
    width:100px;
    height:100px;
    margin:auto;
}

table, th, td{
    border: 2px solid white;
    background-color:#d1cbab;
}
td{
    padding:0;
}
table{
    margin:auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

}

#points{
    position:absolute;
    bottom:500px;
    left:1040px;
    width: 75px;
    height: 75px;
    background-color:#90d8aa;
    -moz-border-radius: 35px;
    border-radius: 35px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
    font-size:1.2em;
    text-align: center;
    color:white;
    
    
}
#points p{
    position:relative;
    bottom:10px;
    font-family: 'Economica', sans-serif;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
#done{
    padding-top:10px;
    font-family: 'Economica', sans-serif;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    width: 370px;
    background-color: #90d8aa;
    font-style:oblique;
    text-align:center;
    margin: 20px;
    font-size:2em;
    color:white;
    padding:10px;
}
form{
    margin-left:90px;
}
#send {
    background: #d1cbab;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    height:30px;
    width:70px;
}
input{
    background-color: rgba(255, 255, 255, 0.5);
    width:100px;
}
.hidden{
    display:none;
}
/*position:relative;
    bottom:100px;
    right:22px;