content{
    width: 900px;
    height: 675px;
    margin:auto;
    border: 5px solid #d7d7d7;
    background-image: url('lappymezzage.jpg');
    display:block;
    background-repeat:no-repeat;
}
main{
    width: 496px;
    height: 342px;
    float: right;
    margin-right:90px;
    margin-top:30px;
    border: 1px solid pink;
}