content{
    width: 900px;
    height: 678px;
    margin:auto;
    border: 5px solid #d7d7d7;
    background-image: url('lappymezzage.jpg');
    display:block;
    background-repeat:no-repeat;
}
header{
    
}
main{
    width: 500px;
    height: 336px;
    float: right;
    margin-right:90px;
    margin-top:40px;
    background-color:#69898C;
    border: 2px solid rgb(75, 127, 149);
}
#message li{
    width: 102%;
    height: 100%;
    list-style: none;
    float:right;
    padding:10px;
    margin:5px;
    background-color:#69898C;
    padding-left:4px;
}

#message{
    width: 500px;
    height: 270px;
    overflow:auto;
    background-color:#013940;
}
.icon{
    border: 5px solid #d7d7d7;
    float:right;
    display:block;
    background-repeat:no-repeat;
}
.time{
    float:right;
    width:25px;
    height:25px;
    background-image:url('clock.png');
     background-repeat:no-repeat;
}
.delete{
    float:right;
    background-image:url('delete.png');
    background-repeat:no-repeat;
    width:27px;
    height:24px;
}




/*********FORM AND BUTTON***********/
#send {
    background: rgb(66, 184, 221);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    height:62px;
    width:62px;
    float: right;
    padding: 2px;
}
content form{
    float: right;
    height: 50px;
    padding-top: 2px;
}
textarea{
    border: 0.5px solid #d7d7d7;
    width:434px;
    height: 60px;
    overflow:auto;
}

